div {
  border: 1px solid gray;
  padding: 5px;
  margin: 5px;
}

/* Se posiciona en relación al posicionamiento original */
.relative {
  position: relative;
  left: 80px;
  margin-left: 10px;
}

/* Se posiciona en relación a la pantalla */
.fixed {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: greenyellow;
  z-index: 10;
}

/* Se posiciona de forma absoluta en funcion de su elemento padre, Body  */
.absolute {
  position: absolute;
  bottom: 30px;
  right: 0px;
}

/* se adapta al contenedor la posicion absolute */
.relative.contenedor {
  width: 300px;
  height: 400px;
  background-color: aquamarine;
}

/* se queda como menu que se deplaza al hacer scroll */
.sticky {
  background-color: darksalmon;
  position: sticky;
  color: white;
  top: 0px;
  z-index: 2;

}